.ih{
    font-family: Lobster, Poppins, sans-serif;
    display: block;
    font-weight: 100;
    text-align: center;
    line-height: 140%;
    font-size: 7rem;
    word-spacing: 7px;
    letter-spacing: 8px;
}